/* ---------------------------------------------------**** fullPage ****--------------------------------------------------- */

	.owl-theme .owl-dots .owl-dot span {
	    background: #e9eaec;
	    background-clip: content-box;
	    height: 15px;
	    width: 15px;
	    border: 4px solid rgba(183, 183, 36, 0.38);
	    margin: -2px 0 0 -2px;
	}
	.owl-theme .owl-dots .owl-dot.active span ,
	.owl-theme .owl-dots .owl-dot.active:hover span {
	    background: #eca254;
	    height: 15px;
	    width: 15px;
	    margin: -2px 0px 0px -2px;
	    border: 0;
	}
	
	.owl-theme .owl-dots .owl-dot:hover span {
	    width: 20px;
	    height: 20px;
	    margin: -5px 0px 0px -5px;
	}
	
		.owl-theme .owl-dots, .owl-theme .owl-nav {
		    text-align: center;
		    -webkit-tap-highlight-color: transparent;
	        position: absolute;
		    left: 0px;
		    right: 0px;
		    bottom: 60px;
		}
			.owl-theme .owl-dots .owl-dot {
			    display: inline-block;
			    zoom: 1;
	            padding: 9px 20px;
			    margin-left: -10px;
			}
				body .owl-theme .owl-dots .owl-dot span {
				    display: block;
				    -webkit-backface-visibility: visible;
				    border-radius: 30px;
				    position: absolute;
				}
			
body {
    font-size: 16px;
    line-height: initial;
    color: #666;
    background-color: #e6eaed;
    font-family: 'Kanit', sans-serif;
    margin: 0px;
}
.fa {
	font-family: 'FontAwesome';
}
a{
    text-decoration: none;
}
.btn {
    background: #ff9a2d;
    color: rgba(255, 255, 255, 0.85);
    padding: 5px 20px;
    border-radius: 20px;
    border: 0;
    font-family: 'Kanit', sans-serif;
    transition: .5s;
    cursor: pointer;
    color: #ffffff;
}
@media only screen and (min-width: 1025px) {
	.btn:hover {
        background: #b57e31;
        color: #ffffff;
	}
}
input , textarea  {
    background: #fff;
    font-family: 'Kanit', sans-serif;
    border: 0;
    padding: 2px 10px;
    font-size: 15px;
    height: 31px;
}
select {
    height: 33px;
    width: 100%;
    opacity: 0;
    font-size: 1em;
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-padding-end: 17px;
    -webkit-padding-start: 9px;
    -webkit-user-select: none;
    -moz-appearance: none;
    -moz-padding-end: 17px;
    -moz-padding-start: 9px;
    -moz-user-select: none;
}
.select {
	cursor:pointer;
	display:inline-block;
	position:relative;
    color: #000;
}

.styledSelect {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
    height: 33px;
	padding:0 20px 0 10px;
	line-height: 29px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000
}

.styledSelect:after {
    content: "";
    position: absolute;
    border: 6px solid transparent;
    border-top-color: #333;
    display: block;
    margin-right: 2px;
    right: 6px;
    top: calc(50% - 2px);
}

.styledSelect:active,
.styledSelect.active {
	background-color:#eee;
}

.options {
	display:none;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	z-index:999;
	margin:0 0;
	padding:0 0;
	list-style:none;
    max-height: 300px;
    overflow-y: auto;
	border:1px solid #ccc;
	background-color:white;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
	box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

.options li {
	margin:0 0;
	padding:5px 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media only screen and (min-width: 1025px) {
	.options li:hover {
		background-color:#39f;
		color:white;
	}
}
  /* --------------------------------------------------- loader --------------------------------------------------- */
#loader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: rgba(245, 136, 19, 0.7);
}
#loader::before {
	content: "";
	position: fixed;
	left: 50%;
	top: 50%;
	width: 35px;
	height: 35px;
	margin: -8px 0 0 -25px;
	border: 7px solid #f58813;
	border-radius: 100%;
	border-top: 7px solid #dadfe9;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/* --------------------------------------------------- header --------------------------------------------------- */
.header {
    background: #042672 url(../images/bg-head.jpg) right center;
    background-size: auto 100%;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 99;
    border-top: 5px solid #ffffff;
}
    .header .container {
        display: table;
        padding: 0px;
    }
    span.shifter-handle {
        display: none;
        height: 40px;
        float: right;
        position: relative;
    }
    span.shifter-handle::before {
        content: "";
	    top: 18px;
	    left: 0px;
	    position: absolute;
	    width: 30px;
	    margin: 0px 5px;
	    height: 3px;
	    background: #dedede;
	    transition: top .2s .2s , transform .2s;
    }
	span.shifter-handle span {
	    color: #000000;
	    padding-left: 45px;
	    line-height: 37px;
	}
	.shifter-open span.shifter-handle::before {
		margin-left: 5px;
		top: 18px;
		transform: rotate(-45deg);
		transition: top .2s .2s , transform .2s .4s;
	}
	span.shifter-handle::after {
	    content: "";
	    top: 12px;
	    left: 0px;
	    position: absolute;
	    width: 30px;
	    margin: 0px 5px;
	    height: 3px;
	    background: #dedede;
	    background-clip: content-box;
	    border-top: 3px solid #dedede;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    border-bottom: 3px solid #dedede;
	    transition: border-color .2s .4s , transform .2s;
	}
	.shifter-open span.shifter-handle::after {
		border-color: transparent;
		transform: rotate(45deg);
		padding-top: 2px;
		transition: border-color .2s , transform .2s .4s;
	}
	.box-logo {
		float: left;
	    padding: 5px 0px;
	}
		.box-logo .logo {
		    width: 60px;
		    height: 70px;
		    float: left;
		    background: url('../images/logo.png') top left no-repeat;
		    background-size: 100% auto;
		    transition: .5s;
		    margin-top: 21px;
		    margin-right: 13px;
		}
			.box-menu {
				background-color: #f58813;
		        width: 100%;
			}
				.box-menu .menu-main {
					margin: 0px;
				}
					.box-menu .menu-main > li {
						float: left;
						list-style-type: none;
						position: relative;
						font-size: 1.2em;
					    margin-right: 20px;
					}
/*
					.box-menu .menu-main > li.sub::after {
					    content: "";
					    position: absolute;
					    top: calc(50% - 3px);
					    right: 0px;
				        width: 3px;
					    height: 3px;
					    border-right: 1px solid #000000;
					    border-bottom: 1px solid #000000;
					    transform: rotate(44deg);
					}
*/
					.box-menu .menu-main > li.sub>a::after {
					    content: "";
					    position: relative;
					    display: inline-block;
				        width: 3px;
					    height: 3px;
					    border-right: 1px solid #000000;
					    border-bottom: 1px solid #000000;
					    transform: rotate(44deg);
						vertical-align: middle;
						margin-left: 10px;
					}
						.box-menu .menu-main > li > a {
							color: #000000;
							padding: 10px 10px;
							display: block;
							white-space: nowrap;
						    border-bottom: 3px solid transparent;
							transition: .5s;
						}
					@media only screen and (min-width: 1025px) {
						.box-menu .menu-main > li:hover > a {
						    border-bottom-color: #423c35;
						}
					}
						.box-menu .menu-main > li.active > a {
						    border-bottom-color: #423c35;
					        background-color: #b67e30;
						}
							.box-menu .menu-main > li > ul {
								position: absolute;
							    background: #39393c;
							    width: 23vw;
							    max-width: 350px;
							    padding: 10px 10px;
							    font-size: 0.9em;
							    color: #000000;
							    left: 50%;
							    transition: transform .1s  .3s, opacity .3s;
							    transform: scaleY(0) translateX(-50%);
							    transform-origin: top;
							    opacity: 0;
						        overflow-y: auto;
							    max-height: calc(100vh - 200px);
							    z-index: 9999;
							}
								.box-menu .menu-main > li > ul::-webkit-scrollbar {
								    width: 3px;
								}
								.box-menu .menu-main > li > ul::-webkit-scrollbar-track {
								    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
								}
								.box-menu .menu-main > li > ul::-webkit-scrollbar-thumb {
								  background-color: #ffffff;
								  outline: 1px solid slategrey;
								}
							
							.box-menu .menu-main > li:hover > ul {
							    transition: transform .1s , opacity .3s .1s;
							    transform: scaleY(1) translateX(-50%);
							    opacity: 1;
							}
							.box-menu .menu-main > li.big > ul {
							    width: 90vw;
							    max-width: none;
							    position: fixed;
							    display: flex;
							}
								.box-menu .menu-main > li > ul > li {
								    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
								}
								.box-menu .menu-main > li > ul > li:last-child{
									border: none;
								}
								.box-menu .menu-main > li.big > ul > li {
									border: 0px;
								    width: 33.33%;
								}
									.box-menu .menu-main > li > ul ul {
									    padding-left: 10px;
									}
										.box-menu .menu-main > li > ul li a {
										    padding: 5px 0px;
										    display: block;
										}
										.box-menu .menu-main > li > ul li::before {
										    content: "";
										    width: 5px;
										    height: 5px;
										    float: left;
										    margin: 8px;
										    display: block;
										    border-right: 1px solid #d1a051;
										    border-bottom: 1px solid #d1a051;
										    transform: rotate(-44deg);
										    margin-top: 16px;
										}
										.box-menu .menu-main > li > ul li.sub::before {
										    transform: rotate(44deg);
										    margin-top: 14px;
										}
											.box-menu .menu-main > li > ul a {
												color: #d1a051;
											}
											.box-menu .menu-main > li > ul a:hover {
												color: #fff;
											}
											.box-menu .menu-main > li > ul a[href="javascript:void(0)"] {
											    color: #f58813;
/* 											    color: #d1a051; */
											    cursor: default;
											}							
		.box-logo .text-logo {
		    color: rgba(255, 255, 255, 0.7);
		    font-size: 11px;
	        min-width: 470px;
            margin-top: 25px;
		}
			.box-logo .text-logo h4 {
			    margin: 0px;
			    font-size: 20.8px;
		        color: #333333;
			}
			.box-logo .text-logo h5 {
			    margin: 0px;
			    font-size: 19px;
		        color: #333333;
			}
				
				
	.menu-right {
	    float: right;
        color: rgba(255, 255, 255, 0.7);
        padding: 17px 0px;
	}
		.menu-right .menu-top {
		    display: flex;
	        flex-flow: row-reverse;
		}
			.menu-right .menu-top a {
			    margin-left: 20px;
			}
				.menu-right .menu-top a img {
				    transition: .5s;
				}
			@media only screen and (min-width: 1025px) {
				.menu-right .menu-top a:hover img {
				    -webkit-filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.5));
				    filter: drop-shadow(2px 2px 0px rgba(255, 255, 255, 0.5));
				}
			}
			
			.menu-right .menu-top form {
			    position: relative;
		        margin-right: 10px;
			}
				.menu-right .menu-top input {
					padding: 2px 30px 2px 17px;
					border-radius: 25px;
					width: 100%;
				}
				.menu-right .menu-top button {
					border: 0;
				    background: none;
				    position: absolute;
				    right: 0px;
				    top: 2px;
			        height: 28px;
				}
				.menu-right .menu-top button:before {
					font-family: 'FontAwesome';
					content: "\f002";
					font-size: 15px;
				}
		
		.menu-right .menu-bottom {
			display: table;
		    margin-top: 7px;
		}
			.menu-right .menu-bottom .a-menu {
			    float: left;
			}
				.menu-right .menu-bottom .a-menu a {
					color: #000;
				    transition: .5s;
				    padding: 5px 14px;
				    display: block;
				    float: left;
				}
			@media only screen and (min-width: 1025px) {
				.menu-right .menu-bottom .a-menu a:hover {
				    color: #562e02;
				}
			}
			
			.menu-right .menu-bottom .wrapper {
			    float: left;
			}
				.menu-right .menu-bottom .wrapper > div {
				    float: left;
			        border-left: 1px solid rgba(255, 255, 255, 0.2);
			        padding: 3px 10px;
				}
					.menu-right .menu-bottom .wrapper .Change-display a {
					    width: 20px;
					    height: 20px;
					    background-image: url('../images/Icon-textsize.png');
					    display: block;
					    float: left;
						margin: 4px;
						transition: .3s;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.mediumFont {
					    background-position: -3px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.defaultFont {
						background-position: -29px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.largeFont {
						background-position: -54px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.white-style.styleswitch {
						background-position: -113px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.default-style.styleswitch {
						background-position: -88px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.yellow-style.styleswitch {
						background-position: -138px -6px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.mediumFont:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.mediumFont.textresizer-active {
					    background-position: -3px -32px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.defaultFont:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.defaultFont.textresizer-active {
						background-position: -29px -32px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.largeFont:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.largeFont.textresizer-active {
						background-position: -54px -32px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.white-style:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.white-style.active {
						background-position: -113px -32px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.default-style:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.default-style.active {
						background-position: -88px -32px;
					}
					.menu-right .menu-bottom .wrapper .Change-display a.yellow-style:hover ,
					.menu-right .menu-bottom .wrapper .Change-display a.yellow-style.active {
						background-position: -138px -32px;
					}
					.menu-right .menu-bottom .wrapper .Language i {
					    display: block;
					    width: 23px;
					    height: 26px;
					    float: left;
					    margin: 0px 5px;
					    cursor: pointer;
					    background-repeat: no-repeat;
					    background-position: center;
					    background-size: 100%;
					}
					.menu-right .menu-bottom .wrapper .Language i.th {
						background-image: url('../images/I-th.png');
					}
					.menu-right .menu-bottom .wrapper .Language i.en {
						background-image: url('../images/I-en.png');
					}
					.menu-right .menu-bottom .wrapper .Language .select {
						color: rgba(255, 255, 255, 0.7);
					}
						.menu-right .menu-bottom .wrapper .Language .select .styledSelect:after {
						    top: calc(50% - 5px);
						    width: 3px;
						    height: 3px;
					        border: 0px;
						    border-right: 1px solid #000;
						    border-bottom: 1px solid #000;
						    transform: rotate(44deg);
						    border-color: #000000;
						}
						.menu-right .menu-bottom .wrapper .Language .select .styledSelect {
							background-color: transparent;
						}
						.menu-right .menu-bottom .wrapper .Language .select .options {
							color: #000;
						}
						.menu-right .menu-bottom .wrapper .Language .select .options li {
							padding: 0px 10px;
						}
			
/* --------------------------------------------------- box-body --------------------------------------------------- */
.box-body {
	margin-top: 166px;
	transition: 1s;
}
	.box-body .box-Cover {
        background-size: contain;
	    background-position: center 166px;
	    background-attachment: fixed;
	    background-repeat: no-repeat;
	}
		.box-body .box-Cover img {
			width: 100%;
			display: block;
		    max-height: 200px;
		    opacity: 0;
		}
	
	.box-body .box-nav {
	    border-bottom: 1px solid #d7d9db;
	    color: #cccccc;
	}
		.box-body .box-nav > div {
		    padding: 8px 15px;
		}
			.box-body .box-nav ul {
			    margin: 0px;
		        padding: 0px;
			}
				.box-body .box-nav li {
				    display: initial;
				}
				.box-body .box-nav li:last-child {
				    color: #9a9a9a;
				}
					.box-body .box-nav a {
					    color: #cccccc;
					}
						.box-body .box-nav i {
					        border: 5px solid transparent;
						    border-left-color: #cccccc;
						    display: inline-block;
					        margin-right: 2px;
						}
						.box-body .box-nav li:last-child i {
						    border-left-color: #9a9a9a;
						}

	.box-body .box-Head {
		
	}
		.box-body .box-Head .m-right {
		    position: absolute;
		    margin-top: 10px;
		}
			.box-Head .m-right .select {
			    border: 1px solid #cccccc;
		        background: #ffffff;
			}
				.box-Head .m-right select {
				    padding-right: 25px;
				}
				.box-Head .m-right .styledSelect {
				    padding: 0 27px 0 10px;
			        color: #8d8d8d;
			    }
			
		.box-body .box-Head h1 {
			color: #333333;
			text-align: center;
		    line-height: 55px;
	        margin: 40px 0px;
		}
		.box-body .box-Head h1::after {
			content: "";
			border-bottom: 3px solid #ffc24c;
		    width: 50px;
		    display: block;
		    margin: auto;
		}
			.box-body .box-Head h1 p {
		        margin: 0px;
		        font-weight: normal;
			    font-size: 0.9em;
		        line-height: 23px;
		        margin-bottom: 20px;
			}
	
	.box-body  .box-content {
	    background: #57575d url('../images/BG-foot.jpg') center bottom no-repeat;
	    background-size: 100% auto;
	    background-attachment: fixed;
	}
	
 /* --------------------------------------------------- event-item --------------------------------------------------- */
.box-body .event-item {
	
}
	.box-body .event-item .item {
	    width: 25%;
	    float: left;
        padding: 20px 15px;
	}
	.box-body .event-item .owl-item .item {
	    width: auto;
	    float: none;
	    padding: 0px;
	}
		.box-body .event-item .item a {
			color: rgba(255, 255, 255, 0.7);
		}
			.box-body .event-item .item .img {
				overflow: hidden;
			    border-radius: 15px;
			    overflow: hidden;
			    border-radius: 15px;
			    background-position: center;
			    background-size: cover;
				transition: .5s;
			}
				.box-body .event-item .item img {
					display: block;
				    width: 100%;
				    opacity: 0;
				}
			@media only screen and (min-width: 1025px) {
				.box-body .event-item .item:hover .img {
					transform: scale(1.1);
				}
			}
				
			.box-body .event-item .box-date {
			    display: inline-flex;
		        padding: 25px 0px 10px 0px;
			}
				.box-body .event-item .B-date {
				    background: #e6eaed;
				    color: #0d214b;
				    font-size: 0.7em;
				    padding: 4px;
				    padding-top: 5px;
				    width: 47px;
				    height: 47px;
			        border-top: 5px solid #f58813;
				    text-align: center;
				    position: relative;
				}
				body.mediumFont .box-body .event-item .B-date {
			        width: 41px;
				    height: 41px;
			        padding-top: 6px;
				}
				body.largeFont .box-body .event-item .B-date {
			        width: 55px;
				    height: 55px;
				}
				.box-body .event-item .B-date:nth-child(2) {
					margin-left: 20px;
				}
				.box-body .event-item .B-date:nth-child(2)::before {
					content: "-";
				    position: absolute;
				    left: -16.5px;
				    color: #fff;
				    font-size: 25px;
				    line-height: 25px;
				}
				body.mediumFont .box-body .event-item .B-date:nth-child(2)::before {
				    line-height: 19px;
				}
				body.largeFont .box-body .event-item .B-date:nth-child(2)::before {
				    line-height: 33px;
				}
					.box-body .event-item .B-date b {
						font-weight: 400;
					    text-align: center;
					    font-size: 2.5em;
					    line-height: 0.7em;
					    display: block;
					}

			.box-body .event-item .item h4 {
				margin-top: 0px;
				color: #ffc24d;
			    display: -webkit-box;
			    -webkit-line-clamp: 2;
			    -webkit-box-orient: vertical;
			    overflow: hidden;
			    height: 48px;
			}
			.box-body .event-item .item .Add-Event {
				color: #ffffff;
			    font-size: 13px;
			}
				.box-body .event-item .item .Add-Event::before {
					content: "";
				    width: 20px;
				    height: 20px;
				    float: left;
				    background: url(../images/I-Add-Event.png) center left;
				    background-repeat: no-repeat;
				    display: none;
				}

 /* --------------------------------------------------- pagination --------------------------------------------------- */
	.box-body .box-content > .container {
	    border-top: 1px solid rgba(220, 220, 220, 0.35);
	}
		.box-body .pagination {
		    display: table;
		    margin: auto;
		    padding-top: 30px;
		    padding-bottom: 10px;
		}
			.box-body .pagination a {
			    display: block;
			    transition: .5s;
			    color: #ffffff;
			    padding: 6px 14px;
			    float: left;
			    margin: 0px 5px;
			    border-radius: 10px;
			}
			.box-body .pagination a.active {
			    background: #ffc24c;
			    color: #ffffff;
			}
			@media only screen and (min-width: 1025px) {
				.box-body .pagination a:hover {
				    background: #ffc24c;
				    color: #ffffff;
				}
			}

	.box-body .box-pagination{
	    display: table;
	    margin: auto;
	    padding-top: 10px;
	    padding-bottom: 30px;
	}
		.box-body .box-pagination > a {
		    width: 30px;
		    height: 30px;
		    display: block;
		    float: left;
		    border-radius: 4px;
		    margin: 4px 3px;
	        background-color: #b57e31;
			background-image: url(../images/I-arrow.png);
		    background-size: auto 30px;
		    transition: .5s;
		}
		.box-body .box-pagination > a:hover {
	        background-color: #989897;
		}
		.box-body .box-pagination a.Previous {
		    background-position: 0px;
		}
		.box-body .box-pagination a.i-previous {
		    background-position: 97px;
		}
		.box-body .box-pagination a.i-next {
		    background-position: 64px;
		}
		.box-body .box-pagination a.Next {
		    background-position: 31px;
		}
		.box-body .box-pagination .box-num {
		    padding: 0px 10px;
		    float: left;
		}
			.box-body .box-pagination .box-num a {
			    display: block;
			    transition: .5s;
			    color: #fff;
			    padding: 6px 14px;
			    float: left;
			    margin: 0px 4px;
			    border-radius: 10px;
			}
			.box-body .box-pagination .box-num a.active {
			    background: #ffc24c;
			}
			@media only screen and (min-width: 1025px) {
				.box-body .box-pagination .box-num a:hover {
				    background: #ffc24c;
				}
			}
		
 /* --------------------------------------------------- footer --------------------------------------------------- */
	
footer {
    background: #f58813;
    color: #000000;
    font-size: 0.8em;
}
	footer > div {
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	}
	    footer .footer {
		    width: 50%;
		}
	    footer .left {
		    text-align: left;
		}
	    footer .right {
		    text-align: right;
		}

/* ---------------------------------------------------**** Mobile and Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 1024px) {

	.header {
		padding: 0px;
	}
	.box-logo {
		float: none;
        display: table;
	    width: 100%;
        padding: 5px 10px;
	}
	.box-logo .logo {
	    width: 47px;
	    height: 54px;
        margin: 0px;
	}
	.menu-right ,
	.box-menu {
		display: none;
	}
	span.shifter-handle {
		display: block;
	    margin-top: 5px;
	}
	.box-body {
	    margin-top: 69px !important;
	}
	.box-body .box-Head .m-right {
	    position: initial !important;
	    margin-top: 0px !important;
        max-width: 300px;
	    margin: auto;
    }
	.box-body .box-Cover {
	    background-position-y: 69px;
	}
}

/* ---------------------------------------------------**** Tablet ****--------------------------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

	.box-logo .text-logo {
	    float: left;
        margin-top: -3px;
	}
	@media screen and (orientation:portrait) {
		.box-body .event-item .item {
		    width: 50%;
		}
	}

}

/* ---------------------------------------------------**** Mobile ****--------------------------------------------------- */
@media only screen and (min-width: 320px) and (max-width: 767px) {

	.box-logo .text-logo {
	    display: none;
	}
    .shifter-open  span.shifter-handle {
       width: 30px;
    }
	.shifter-open span.shifter-handle span {
		display: none;
	}
	footer .footer {
	    width: 100%;
        padding-bottom: 20px;
	}
	footer .right {
	    display: none;
	}
	.box-body .box-Head h1 {
	    font-size: 1.5em;
        margin: 0px;
	}
	@media screen and (orientation:portrait) {
		.box-body .event-item .item {
		    width: 100%;
		}
	}
	@media screen and (orientation:landscape) {
		.box-body .event-item .item {
		    width: 50%;
		}
	}
	.box-body .box-pagination a.i-previous ,
	.box-body .box-pagination a.i-next {
	    display: none;
	}
}